{% extends 'menu2.html' %}

{% block content %}
<div class="product-detail">
    <a href="{% url 'meal:meal-list' uid %}" class="back-button">←</a>
    <div class="product-detail__img">
        <img src="{{ product.image.url }}" alt="{{ product.title }}">
    </div>
    <div class="product-detail__info">
        <h1>{{ product.title }}</h1>
        <p class="product-detail__price">{{ product.price }} £</p>
        <p class="product-detail__description">{{ product.description }}</p>
    </div>
    <button class="add-to-cart">+</button>
</div>
{% endblock %}
