{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
{#    <link rel="stylesheet" type="text/css" href="{% static 'assets/modal-store-fe31f993-v6.css' %}">#}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/saveBasket-d95f81b5-v6.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/MenuPage-f2dda5a0-v6.css' %}">
{#    <link rel="stylesheet" type="text/css" href="{% static 'assets/UserMenu-ddeec39f-v6.css' %}" }>#}
    <style>
        :root {
            --ik-bg-color: #ffffffff;
            --ik-bg-high-contrast-color: #333333;
            --ik-bg-low-contrast-color: #eeeeee;
            --ik-accent-color: #24ae43;
            --ik-accent-contrast-color: #ffffff;
            --ik-header-bg-color: #ffffff;
            --ik-header-bg-second-color: #eeeeee;
            --ik-header-highlight-color: #f7ce22;
            --ik-header-bg-high-contrast-color: #333333;
            --ik-header-bg-low-contrast-color: #f5f5f5;
            --ik-tab-highlight-color: #016a1b;
            --ik-product-bg-color: #fafafa;
            --ik-product-bg-high-contrast-color: #222222;
            --ik-basket-header-bg-color: #111111;
            --ik-basket-header-bg-high-contrast-color: #ffffff;
            --ik-heart-color: #be0707;
        }
    </style>

    <title>QR code menu</title>
</head>

<body class="">
    <div id="app">
        <!--[-->
        <!--[-->
        <div id="menu-page" class="page" style="display:flex;flex-direction:column;top:0px;">
            <header id="sticky-header">
                <div class="header">
                    <div style="flex-grow:1;position:relative;height:45px;">
                        <div style="display:flex;gap:10px;align-items:center;position:absolute;left:0;right:0;top:0;bottom:0;overflow-x:auto;"><img class="header__logo" src="https://instalacarte.com/customer-logo/23/66c49c906aeeda31561440bd1be008e9.png" alt="wagamama">
                            <div class="header__restaurant-name">
                                <h1>restoran.name</h1>
                            </div>
                        </div>
                    </div>

{#                    ########################################}
{#                    <!----><button class="btn btn--icon" style="font-size:0.9rem;">English</button>#}
{#                    ########################################}
                </div>
{#                here is categories#}
                <section class="categories-section categories-section--medium-photo">
                    <div class="categories-section__container">
                        <!---->
                        <!--[-->
                        <div class="menu-category" data-category-id="-2" data-long-press-delay="1000">
                            <div class="menu-category__highlight" id="menu-category__highlight" style="transform:translateX(0);"></div>
                            <div class="menu-category__img">
                                <a href="{% url 'meal:products' %}">
                                    <!--[--><img src="https://instalacarte.com/media/cache/emoji_small/emoji/popular.png?v3" alt="Popular">
                                    <!--]-->
                                </a>
                            </div>
                            <div class="menu-category__name no-wrap">
                                <div>
                                    <a href="{% url 'meal:products' %}">
                                        <!--[-->Popular
                                        <!--]-->
                                    </a>
                                </div>
                                <!---->
                            </div>
                        </div>
                        <div class="menu-category menu-category--active" data-category-id="86" data-long-press-delay="1000">
                            <!---->
                            <div class="menu-category__img">
                                <a href="/menu/s/en/wagamama/ramen/all/">
                                    <!--[--><img src="https://instalacarte.com/media/cache/emoji_small/emoji/steaming-bowl_1f35c5.png?v3" alt="ramen">
                                    <!--]-->
                                </a>
                            </div>
                            <div class="menu-category__name no-wrap">
                                <div>
                                    <a href="/menu/s/en/wagamama/ramen/all/">
                                        <!--[-->ramen
                                        <!--]-->
                                    </a>
                                </div>
                                <!---->
                            </div>
                        </div>
                        <!--]-->
                    </div>
                </section>

            </header>
            <div class="menu-content--categories-medium-photo menu-content">
                <section class="subcategories-section">
                    <!---->
                    <div class="subcategories-section__item--active subcategories-section__item no-wrap no-user-select">All</div>
                    <!--[-->
                    <div class="subcategories-section__item text-overflow">
                        <a href="/menu/s/en/wagamama/ramen/chicken/" class="no-user-select">
                            <!--[-->Chicken
                            <!--]-->
                        </a>
                        <!---->
                    </div>
                    <div class="subcategories-section__item text-overflow">
                        <a href="/menu/s/en/wagamama/ramen/prawn/" class="no-user-select">
                            <!--[-->Prawn
                            <!--]-->
                        </a>
                        <!---->
                    </div>
                    <div class="subcategories-section__item text-overflow">
                        <a href="/menu/s/en/wagamama/ramen/beef/" class="no-user-select">
                            <!--[-->Beef
                            <!--]-->
                        </a>
                        <!---->
                    </div>
                    <div class="subcategories-section__item text-overflow">
                        <a href="/menu/s/en/wagamama/ramen/cod/" class="no-user-select">
                            <!--[-->Cod
                            <!--]-->
                        </a>
                        <!---->
                    </div>
                    <div class="subcategories-section__item text-overflow">
                        <a href="/menu/s/en/wagamama/ramen/veg/" class="no-user-select">
                            <!--[-->Veg
                            <!--]-->
                        </a>
                        <!---->
                    </div>
                    <div class="subcategories-section__item text-overflow">
                        <a href="/menu/s/en/wagamama/ramen/pork/" class="no-user-select">
                            <!--[-->Pork
                            <!--]-->
                        </a>
                        <!---->
                    </div>
                    <!--]-->
                    <!---->
                </section>

                <section class="menu-products-section menu-products-section--grid" style="padding-bottom:160px;">
                    <div class="menu-grid">
                        <!---->
                        <!--[-->

                        <a href="/menu/s/en/wagamama/ramen/beef/tantanmen-beef-brisket-ramen/" style="display:contents;-webkit-tap-highlight-color:transparent;">
                            <!--[-->
                            <div class="menu-product">
                                <div class="menu-product__item">
                                    <!---->
                                    <div class="menu-product__item__toolbar">
                                        <div style="flex-grow:1;"></div><button class="btn btn--icon btn--icon--xsm" style="background-color:#eeeeee;-webkit-font-smoothing:antialiased;padding:5px;"><svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#222222" stroke-width="1.2px" x="0px" y="0px" viewBox="-1 -2 14 13" xml:space="preserve"><path d="M11,1c-0.6-0.6-1.5-1-2.3-1C7.8,0,7,0.4,6.3,1L6,1.3L5.7,1C5,0.3,4.2,0,3.3,0S1.6,0.3,1,1C0.3,1.6,0,2.4,0,3.3S0.3,5,1,5.7
                l4.8,4.8C5.9,10.6,6,10.6,6,10.6c0.1,0,0.2,0,0.2-0.1L11,5.7c0.6-0.6,1-1.5,1-2.4S11.7,1.6,11,1z"></path></svg></button></div>
                                    <div class="menu-product__item__img"><img class="menu-product__item__img__full" src="https://instalacarte.com/media/cache/mobile_image/product/23/144/fc6d71e4442335efa7945896ff63879d.png" alt="Item image" decoding="async"></div>
                                    <div class="menu-product__item__top-block">
                                        <div class="menu-product__item__name text-overflow">tantanmen beef brisket ramen</div>
                                        <div class="menu-product__item__price no-wrap">8.95 £</div>
                                    </div>
                                    <div class="menu-product__item__description">
                                        <!--[-->korean barbecue beef brisket, served on a bed of noodles in an extra rich chicken broth. t...
                                        <!--]-->
                                    </div>
                                    <div class="menu-product__item__price-bottom no-wrap">8.95 £</div>
                                </div>
                            </div>
                            <!--]-->
                        </a>
                        <a href="/menu/s/en/wagamama/ramen/prawn/chilli-prawn-kimchee-ramen/" style="display:contents;-webkit-tap-highlight-color:transparent;">
                            <!--[-->
                            <div class="menu-product">
                                <div class="menu-product__item">
                                    <!---->
                                    <div class="menu-product__item__toolbar">
                                        <div style="flex-grow:1;"></div><button class="btn btn--icon btn--icon--xsm" style="background-color:#eeeeee;-webkit-font-smoothing:antialiased;padding:5px;"><svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#222222" stroke-width="1.2px" x="0px" y="0px" viewBox="-1 -2 14 13" xml:space="preserve"><path d="M11,1c-0.6-0.6-1.5-1-2.3-1C7.8,0,7,0.4,6.3,1L6,1.3L5.7,1C5,0.3,4.2,0,3.3,0S1.6,0.3,1,1C0.3,1.6,0,2.4,0,3.3S0.3,5,1,5.7
                l4.8,4.8C5.9,10.6,6,10.6,6,10.6c0.1,0,0.2,0,0.2-0.1L11,5.7c0.6-0.6,1-1.5,1-2.4S11.7,1.6,11,1z"></path></svg></button></div>
                                    <div class="menu-product__item__img"><img class="menu-product__item__img__full" src="https://instalacarte.com/media/cache/mobile_image/product/23/145/d107f513b73f884d5b11f8a7c23e6fae.png" alt="Item image" decoding="async"></div>
                                    <div class="menu-product__item__top-block">
                                        <div class="menu-product__item__name text-overflow">chilli prawn + kimchee ramen</div>
                                        <div class="menu-product__item__price no-wrap">8.95 £</div>
                                    </div>
                                    <div class="menu-product__item__description">
                                        <!--[-->marinated tail-on prawns, kimchee and beansprouts on top of noodles in a spicy vegetable b...
                                        <!--]-->
                                    </div>
                                    <div class="menu-product__item__price-bottom no-wrap">8.95 £</div>
                                </div>
                            </div>
                            <!--]-->
                        </a>
                        <a href="/menu/s/en/wagamama/ramen/beef/chilli-sirloin-steak-ramen/" style="display:contents;-webkit-tap-highlight-color:transparent;">
                            <!--[-->
                            <div class="menu-product">
                                <div class="menu-product__item">
                                    <!---->
                                    <div class="menu-product__item__toolbar">
                                        <div style="flex-grow:1;"></div><button class="btn btn--icon btn--icon--xsm" style="background-color:#eeeeee;-webkit-font-smoothing:antialiased;padding:5px;"><svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#222222" stroke-width="1.2px" x="0px" y="0px" viewBox="-1 -2 14 13" xml:space="preserve"><path d="M11,1c-0.6-0.6-1.5-1-2.3-1C7.8,0,7,0.4,6.3,1L6,1.3L5.7,1C5,0.3,4.2,0,3.3,0S1.6,0.3,1,1C0.3,1.6,0,2.4,0,3.3S0.3,5,1,5.7
                l4.8,4.8C5.9,10.6,6,10.6,6,10.6c0.1,0,0.2,0,0.2-0.1L11,5.7c0.6-0.6,1-1.5,1-2.4S11.7,1.6,11,1z"></path></svg></button></div>
                                    <div class="menu-product__item__img"><img class="menu-product__item__img__full" src="https://instalacarte.com/media/cache/mobile_image/product/23/146/27e2ca50d59ab3772ba97bead2f01344.png" alt="Item image" decoding="async"></div>
                                    <div class="menu-product__item__top-block">
                                        <div class="menu-product__item__name text-overflow">chilli sirloin steak ramen</div>
                                        <div class="menu-product__item__price no-wrap">8.95 £</div>
                                    </div>
                                    <div class="menu-product__item__description">
                                        <!--[-->noodles in a spicy chicken broth topped with sirloin steak, red onion, spring onions, bean...
                                        <!--]-->
                                    </div>
                                    <div class="menu-product__item__price-bottom no-wrap">8.95 £</div>
                                </div>
                            </div>
                            <!--]-->
                        </a>
                        <a href="/menu/s/en/wagamama/ramen/chicken/chilli-chicken-ramen/" style="display:contents;-webkit-tap-highlight-color:transparent;">
                            <!--[-->
                            <div class="menu-product">
                                <div class="menu-product__item">
                                    <!---->
                                    <div class="menu-product__item__toolbar">
                                        <div style="flex-grow:1;"></div><button class="btn btn--icon btn--icon--xsm" style="background-color:#eeeeee;-webkit-font-smoothing:antialiased;padding:5px;"><svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#222222" stroke-width="1.2px" x="0px" y="0px" viewBox="-1 -2 14 13" xml:space="preserve"><path d="M11,1c-0.6-0.6-1.5-1-2.3-1C7.8,0,7,0.4,6.3,1L6,1.3L5.7,1C5,0.3,4.2,0,3.3,0S1.6,0.3,1,1C0.3,1.6,0,2.4,0,3.3S0.3,5,1,5.7
                l4.8,4.8C5.9,10.6,6,10.6,6,10.6c0.1,0,0.2,0,0.2-0.1L11,5.7c0.6-0.6,1-1.5,1-2.4S11.7,1.6,11,1z"></path></svg></button></div>
                                    <div class="menu-product__item__img"><img class="menu-product__item__img__full" src="https://instalacarte.com/media/cache/mobile_image/product/23/147/124dcec24c53c023ebf495258ba3e61d.png" alt="Item image" decoding="async"></div>
                                    <div class="menu-product__item__top-block">
                                        <div class="menu-product__item__name text-overflow">chilli chicken ramen</div>
                                        <div class="menu-product__item__price no-wrap">8.95 £</div>
                                    </div>
                                    <div class="menu-product__item__description">
                                        <!--[-->noodles in a spicy chicken broth topped with grilled chicken, red onion, spring onions, be...
                                        <!--]-->
                                    </div>
                                    <div class="menu-product__item__price-bottom no-wrap">8.95 £</div>
                                </div>
                            </div>
                            <!--]-->
                        </a>
                        <!--]-->
                    </div>
                    <!---->
                </section>

            </div>
        </div>
    </div>
</body>
</html>